INSERT INTO audit_log (doctor_id, action, table_name, record_id, old_value, new_value)
VALUES (1, 'TEST_INSERT', 'prescriptions', 9999, '{"x":1}', '{"x":2}');
SELECT COUNT(*) AS total_rows FROM audit_log;
